<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Guest-Site{% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}
<div class="book">
    <style>.book{background-image: url(assets/img/hotel.jpeg);}</style>
    <div class="bookcontent">
        {% if user %}
<form method="post">
    <h3>Leave your message for the Guestbook</h3>
    <div>
    <p>Your first and last name:<input type="text" name="name"></p>
    </div>
    <div>
    <p>Your email:<br><strong><input type="email" name="email" value="{{ user.email() }}"</strong></p>
    </div>
    <div>
    <h6><textarea name="message" rows="10" cols="80" placeholder="Enter your message here" required></textarea></h6>
    </div>
    <button class="btn btn-outline-dark" type="submit">Submit</button>
</form>
        {% else %}
<p>Please login if you'd like to post a message.</p>
{% endif %}
    </div>
    <div class="messages">
<hr>

<h3>Guestbook</h3>
{% for message in messages %}
    <p>
        <strong><i>{{ message.name }}</i></strong><br>
        at {{ message.created.strftime('%d %B %Y at %H:%M') }}:
        <br>
        <em>{{ message.message }}</em>
        ------------------------------------
    </p>
<br>
{% else %}
<p>No messages yet.</p>
{% endfor %}
    </div>
</div>
<footer class="footermain">

    <div class="socicon">
<a class="admin" href="/admin-site">Admin-Site</a>
    <div class="copy">Filton Hotel Group 2017</div>
        <a href="https://www.instagram.com/?hl=de"><div class="socicon-instagram"></div></a>
    <a href="https://www.facebook.com/?hl=de"><div class="socicon-facebook"></div></a>
    <a href="https://www.twitter.com"><div class="socicon-twitter"></div></a>
    <a href="https://www.youtube.com"><div class="socicon-youtube"></div></a>
  </div>

  </footer>


{% endblock page_content %}
</body>
</html>