<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Filton Hotel{% endblock title %}</title>
</head>
<body>
{% extends "base.html" %}
{% block page_content %}

<div class="welcome">
    <style>.welcome{background-image: url(assets/img/hotel.jpeg);}</style>
    <div class="lobby">
        <style>.lobby{background-image: url(assets/img/lobby.jpeg);}</style>
<h2>Welcome to the <br> Filton Hotel!</h2>
 <a class="btn btn-outline-dark" href="{{ login_url }}">Login and leaf a Message!</a>

</div>
</div>
<footer class="footermain">

    <div class="socicon">
    <div class="copy">Filton Hotel Group 2017</div>
      <a href="https://www.instagram.com/?hl=de"><div class="socicon-instagram"></div></a>
    <a href="https://www.facebook.com/?hl=de"><div class="socicon-facebook"></div></a>
    <a href="https://www.twitter.com"><div class="socicon-twitter"></div></a>
    <a href="https://www.youtube.com"><div class="socicon-youtube"></div></a>
  </div>

  </footer>

{% endblock page_content %}
</body>
</html>